{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}


{% block body %}

      <!-- about section start -->
<!--      <div class="about_section layout_padding">-->
<!--         <div class="container">-->
<!--            <div class="row">-->
<!--               <div class="col-md-6">-->
<!--                  <div class="about_taital_main">-->
<!--                     <div class="about_taital">About Us</div>-->
<!--                     <p class="about_text">Text summarization is the way to summarize text from large article.</p>-->
<!--                     <p class="about_text">Text summarization is the practice of breaking down long publications into manageable paragraphs or sentences. The procedure extracts important information while also ensuring that the paragraph's sense is preserved.</p>-->
<!--                     <div class="read_bt"><a href="#">Read More</a></div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-md-6">-->
<!--                  <div class="about_img"><img src="{% static 'images/about-img.png' %}"></div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </div>-->

      <!-- about section start -->
<!--      <div class="about_section layout_padding">-->
<!--         <div class="container">-->
<!--            <div class="row">-->
<!--               <div class="col-md-6">-->
<!--                  <div class="about_taital_main">-->
<!--                     <div class="about_taital">About Us</div>-->
<!--                     <p class="about_text">Text summarization will help you to summarize  your article.</p>-->
<!--                     <p class="about_text">Text summarization aims to transform lengthy documents into shortened versions, something which could be difficult and costly to undertake if done manually.</p>-->
<!--                     <div class="read_bt"><a href="#">Read More</a></div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-md-6">-->
<!--                  <div class="about_img"><img src="{% static 'images/about-img.png' %}"></div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </div>-->

      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
<!--               <div class="col-md-6">-->
                  <div class="about_taital_main">
                     <div class="about_taital">About Us</div>
                     <p class="about_text">Text summarization is the technique for generating a concise and precise summary of voluminous texts while focusing on the sections that convey useful information, and without losing the overall meaning.
Automatic text summarization aims to transform lengthy documents into shortened versions, something which could be difficult and costly to undertake if done manually.
Machine learning algorithms can be trained to comprehend documents and identify the sections that convey important facts and information before producing the required summarized texts. For example, the image below is of this news article that has been fed into a machine learning algorithm to generate a summary..</p>
                     <p class="about_text">text summarization can summarize any type of text, image or link</p>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
<!--               </div>-->
<!--               <div class="col-md-6">-->
<!--                  <div class="about_img"><img src="{% static 'images/about-img.png' %}"></div>-->
<!--               </div>-->
            </div>
         </div>
      </div>

      <!-- about section end -->

{% endblock %}



