{% extends 'base.html' %}
{% load static %}

{% block title %}Index{% endblock %}


{% block body %}



      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="banner_taital">
                              <h4 style="color : white" class="outstanding_text"><i>Retieve the best summay for the text</i></h4>
                              <h2 class="coffee_text">Text Summarization</h2>
<!--                              <p style="color: black" class="there_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, </p>-->
                              <div class="learnmore_bt"><a href="#">Learn More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- about section start -->
<!--      <div class="about_section layout_padding">-->
<!--         <div class="container">-->
<!--            <div class="row">-->
<!--               <div class="col-md-6">-->
<!--                  <div class="about_taital_main">-->
<!--                     <div class="about_taital">About Us</div>-->
<!--                     <p class="about_text">A text summarizer is an online tool that uses AI and complex algorithms to condense a text from its long, detailed version to one that is short and comprehensible</p>-->
<!--                      <p class="about_text">This is the best way to save time</p>-->
<!--                      <div class="read_bt"><a href="{% url 'Text:About' %}">Read More</a></div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-md-6">-->
<!--                  <div class="about_img"><img src="{% static 'images/about-img.png' %}"></div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </div>-->
      <!-- about section end -->
      <!-- gallery section start -->
      <div class="gallery_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="gallery_taital">WHO IS RESOOMER FOR</h1>
                  <p class="gallery_text"> </p>
               </div>
            </div>
            <div class="">
               <div class="gallery_section_2">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="{% static 'images/img-11.png' %}" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="{% static 'images/img-12.png' %}" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="{% static 'images/img-13.png' %}" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="gallery_section_2">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="{% static 'images/img-14.png' %}" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="{% static 'images/img-15.png' %}" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="overlay">
                                 <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="{% static 'images/img-16.png' %}" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="overlay">
                                 <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- gallery section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="services_taital">Services</h1>
                  <p class="services_text">Choose your option </p>
               </div>
            </div>
            <div class="services_section_2">
               <div class="row">
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main active">
<!--                        <div class="house_icon">-->
<!--                           <img src="images/icon1.jpg" class="image_1">-->
<!--                           <img src="images/icon1.jpg" class="image_2">-->
<!--                        </div>-->
                        <h3 class="decorate_text">Text to Summarize</h3>
                        <p class="tation_text">Copy your text and paste here</p>
                        <div class="readmore_bt"><a href="{% url 'Text:Text_to_summerize' %}">Click It</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main">
<!--                        <div class="house_icon">-->
<!--                           <img src="images/icon2.png" class="image_1">-->
<!--                           <img src="images/icon2.png" class="image_2">-->
<!--                        </div>-->
                        <h3 class="decorate_text">Img to Summarize</h3>
                        <p class="tation_text">Screenshot your picture and give the path </p>
                        <div class="readmore_bt"><a href="{% url 'Text:Img_to_summerize' %}">Click It</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main">
<!--                        <div class="house_icon">-->
<!--                           <img src="images/icon3.png" class="image_1">-->
<!--                           <img src="images/icon3.png" class="image_2">-->
<!--                        </div>-->
                        <h3 class="decorate_text">Link to Summarize</h3>
                        <p class="tation_text">Paste your URL </p>
                        <div class="readmore_bt"><a href="{% url 'Text:Link_to_summerize' %}">Click It</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services section end -->
      <!-- testimonial section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="client_taital">HOW DOES It WORK ?</h1>
                  <p class="client_text">At any moment, you can summarize or analyze your texts :<br>

                      • by copying and pasting them above<br>or<br>

                      • by using our extensions to summarize your online articles</p>
               </div>
            </div>
         </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_section_2">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="testimonial_section_2">
                            <h4 class="client_name_text">Who uses text summary tools? </h4>

                            <p class="customer_text">A text summary tool can help students to complete assignments on time while ensuring they understand the content. Students also use these tools to ensure their written content covers the necessary topic. Teachers also have a lot of content to read, whether it’s for grading papers and reviewing student assignments, or creating lesson plans. A summarizer can quickly create an overview of any text, allowing teachers to avoid reviewing content that’s unrelated to the topic or focusing on assignments that need more attention than others</p>
                         </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_section_2">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="testimonial_section_2">
                            <h4 class="client_name_text">Who uses text summary tools? </h4>
                            <p class="customer_text">  Journalists and editors use tools of this kind to condense information into bite-sized pieces. This improves the legibility of headlines and introductory paragraphs. Journalists also need to quote many sources or summarize an entire speech into a single paragraph. Using a summarizer tool makes it entirely possible without making an article excruciatingly long or misinterpreting what someone says. </p>
                         </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_section_2">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="testimonial_section_2">
                            <h4 class="client_name_text">Who uses text summary tools? </h4>
                            <p class="customer_text">Editors, as well, can use this tool to avoid the time-consuming nature of reviewing lengthy articles. They can paste the content in the summarizer and receive a reduced text that displays the theme of the content. Copywriters (as well as students and other types of writers) can use this tool to create a closing paragraph or statement. It can be difficult to encapsulate an entire work into a single paragraph, especially after spending so much time writing the body of the story.</p>
                         </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>
        </div>
      </div>
     </div>
      <!-- testimonial section end -->

     {% endblock %}
